# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# external documentation
docs/

# Inference results
inference_results_*.json
Inference/

# Jupyter notebooks
.ipynb_checkpoints/

# video files
*.mp4

# Test files
dummy_test_video.*

# IDE
.vscode/
.idea/
